# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음 
* set: 집합 자료형, 중복이 없는 자료를 만들 때, 모든 자료형을 넣을 수 있음, 대신 중복 불가, {} 안에 자료를 넣어서 만듦

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [1]:
a = 10
print(a)

10

In [2]:
print(type(a))

<class 'int'>

In [3]:
aa = "10"
print(aa)

10

In [4]:
print(type(aa))

<class 'str'>

# 실수형 변수 float

In [6]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [7]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수변수와 정수변수 연산

In [11]:
aa=10

In [8]:
print(a,aa)

10 10

In [12]:
print(a+aa)
print(a-aa)
print(a*aa)
print(a/aa) # 정수/정수 = 실수

20
0
100
1.0

# 문자형 str

In [15]:
c = "문"
d = "자"
e = "문자열"

In [17]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [19]:
long_char="화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 
화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다."

SyntaxError: unterminated string literal (detected at line 1) (2157246881.py, line 1)

In [28]:
long_char="화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \
화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다."

In [29]:
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [30]:
long_char2=""" 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \를 쓸 필요가 없다."""

In [31]:
print(long_char2)

 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \를 쓸 필요가 없다.

In [32]:
long_char2

' 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.\n그래서 \\를 쓸 필요가 없다.'

# 문자 덧셈 + , 문자 반복 *

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [33]:
c +d

'문자'

In [34]:
a+c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
c-d

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
c*d

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
c/d

TypeError: unsupported operand type(s) for /: 'str' and 'str'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [38]:
c*2

'문문'

In [39]:
(c+d)*3

'문자문자문자'

In [41]:
print("="*30)
print("문자열의 덧셈과 곱셈")
print("="*30)

==============================
문자열의 덧셈과 곱셈
==============================

# 문자열은 순서가 있다.
# 가장 앞글자가 0번 0번부터 순서대로 숫자가 증가

In [42]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다.'

공백 포함 길이를 재는 함수 len()

In [43]:
len(long_char)

71

* 인덱싱: 변수명[인덱스번호]
* 슬라이싱: 변수명[시작번호:끝번호+1]

In [44]:
long_char[0]

'화'

In [45]:
long_char[0:5]

'화면이 좁'

In [47]:
print(long_char[4:-1])
# -1은 끝까지 다

좁아서 문자열을 잘라서 아래로 내리고 싶으면 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다

In [48]:
print(long_char[-10:-1])

 사용할 수 있다

In [49]:
print(long_char[:80])
# 처음부터 80번째까지

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [50]:
print(long_char[40:])
# 40번부터 끝까지

을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

# 리스트  list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 딕셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [1]:
L1=[1,2.0,'삼',[1,2,3], (4,5,6), {"key":"value"}]
L1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [2]:
len(L1)

6

In [52]:
print(L1, type(L1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [54]:
L1[1]

2.0

list는 순서가 있는 자료형

In [57]:
L1.append("리스트 자료형") # 리스트에 추가하는 함수 append

In [58]:
print(L1)

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, '리스트 자료형', '리스트 자료형']

In [59]:
del L1[6]

In [60]:
print(L1)

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, '리스트 자료형']

In [61]:
del L1[6]

In [62]:
print(L1)

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

## 리스트는 리스트 내의 자료형을 그대로 유지

In [63]:
for item in L1:
    print(item, type(item))

1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

## 중첩리스트
* 리스트 안에 리스트가 있는 경우

In [64]:
L2 = [1,2,3, [4,5, [6,7,8,[9,10]]]]
L2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

* 인덱싱으로 9를 출력하세요.

In [65]:
L2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [66]:
L2[3][2]

[6, 7, 8, [9, 10]]

In [68]:
L2[3][2][2:]

[8, [9, 10]]

In [67]:
L2[3][2][3][0]

9

# Tuple 튜플 
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [70]:
L3=(1,2.0,'삼',[1,2,3], (4,5,6), {"key":"value"})
L3

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [71]:
print(L3, type(L3))

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [72]:
L3.append("튜플") # 튜플은 append로 추가 안됨

AttributeError: 'tuple' object has no attribute 'append'

In [74]:
del L3[-1] # 튜플은 del로 삭제 안됨

TypeError: 'tuple' object doesn't support item deletion

In [76]:
L3[3][1]

2

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [79]:
dic1={"이름": "홍길동", "나이": 33, "키":175.4, 
      "가족": ["둘리","또치","도우너"]}

In [80]:
print(dic1)

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}

In [82]:
dic1["이름"]

'홍길동'

In [83]:
dic1["가족"]

['둘리', '또치', '도우너']

In [84]:
dic1["가족"][2] # '도우너'만 출력하고 싶다면

'도우너'

In [3]:
dic2={"이름": "홍길동", "나이": 33, "키":175.4, 
      "가족": [{"둘리":["초능력", "공룡"]},{"또치": ["달리기", "타조"]},
                {"도우너": ['음악', '외계인']}]}

In [91]:
dic2["가족"][2]["도우너"][0]

'음악'

딕셔너리의 길이는 key의 갯수

In [92]:
len(dic2)

4

딕셔너리에 자료추가

In [93]:
dic2["학교"]="구름대학교"

In [94]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

In [98]:
dic2["전화번호"]= ["010-1111-2222", "02-222-3333"]

In [99]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교',
 '전화번호': ['010-1111-2222', '02-222-3333']}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

In [4]:
a=3
b="3"
print(a+b) #숫자 + 문자 이기 때문에 오류가 남

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
a=3
b="3"
print(a+int(b)) #형변환 함수를 이용해 일시적으로 정수로 변환
print("a: ",type(a), "b: ", type(b))
print("a: ",type(a), "int(b): ",type(int(b)))

6
a:  <class 'int'> b:  <class 'str'>
a:  <class 'int'> int(b):  <class 'int'>

* 실수로 변환 float()

In [10]:
print(b, type(b))

3 <class 'str'>

In [11]:
a + float(b) # 3+ 3.0 = 6.0

6.0

In [13]:
c = 4.3

In [14]:
a + c

7.3

In [15]:
int(a+c)

7

* 문자열로 변환 str()

In [17]:
print(a, type(a))

3 <class 'int'>

In [19]:
print(str(a), type(str(a)))

3 <class 'str'>

In [20]:
b

'3'

In [21]:
str(a) + b

'33'

* 리스트 형변환 list()
  * 튜플 => 리스트로 변환

In [22]:
t=(1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [24]:
L1 = list(t)
print(L1, type(L1))

[1, 2, 3, 4, 5] <class 'list'>

In [25]:
L1.append(6)
print(L1)

[1, 2, 3, 4, 5, 6]

* 튜플로 형변환 tuple()

In [26]:
t2=tuple(L1)
print(t2, type(t2))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [27]:
# 주의/ 실수 형태의 소숫점이 있는 문자는 float으로 변환해야 한다. 
d="3.4"
print(d, type(d))

3.4 <class 'str'>

In [28]:
print(d, int(d))

ValueError: invalid literal for int() with base 10: '3.4'

In [29]:
print(d, float(d))

3.4 3.4

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열

In [1]:
input_name = input("이름을 입력해주세요: ")
print(input_name)

이름을 입력해주세요: 김서진
김서진

input함수를 이용해서 숫자 2개를 입력받아 더한 후 출력하세요.

In [ ]:
num1=input("숫자 1을 입력하세요: ")
num2=input("숫자 2를 입력하세요: ")
print("숫자 1+ 숫자 2: ", int(num1) + int(num2))

* input().split() 으로 여러 데이터를 list 형태로 받기

숫자 5 개를 입력받아서 합을 구하시오

In [ ]:
nums=input("숫자를 5개 공백으로 구분해서 입력하세요: ").split()
print(nums, type(nums))

In [ ]:
int(nums[0]) + int(nums[1]) + int(nums[2]) + int(nums[3]) + int(nums[4])

In [ ]:
"숫자를 5개 공백으로 구분해서 입력하세요: ".split()