# 반복문 for, while
* 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for문은 **반복 횟수가 정해져 있는 경우** 사용
* while문은 **반복 횟수가 정해져 있지 않은 경우** 사용 **(무한 반복/ 특정 조건을 만족하는 경우만 실행)**

## 1. for 반복문: 반복할 횟수가 정해져 있는 경우
```python
for 변수명 in 반복할 자료/객체(문자열, 리스트, 튜플, 딕셔너리):
    반복할 코드
```

In [2]:
# 숫자 생성 함수 range(시작, 끝+1, step)
# for문을 이용해서 숫자 1-10 출력
for num in [1,2,3,4,5,6,7,8,9,10]:
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
for num in range(1,11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

## 순서가 있는 자료형 (문자열, 리스트, 튜플) + 순서는 없지만 딕셔너리는 for문에서 반복 가능

### 문자열을 for문에 넣으면 문자열의 길이만큼 반복됨

In [4]:
len("파이썬은 문자열을 반복문에 넣어 출력 가능")

23

In [6]:
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end=" ")

파 이 썬 은   문 자 열 을   반 복 문 에   넣 어   출 력   가 능

In [7]:
s = "파이썬은 문자열을 반복문에 넣어 출력 가능"
for char in s:
    print(char, end="")

파이썬은 문자열을 반복문에 넣어 출력 가능

### list도 자료의 길이만큼 반복됨

In [15]:
l1=[1,2,3,4,[5,6,7],[8,9,10]]
print(len(l1))

6

In [16]:
for i in l1:
    print(i)

1
2
3
4
[5, 6, 7]
[8, 9, 10]

### tuple

In [20]:
t=(1,2,3,4,5,(5,6,7),(8,9,10))
len(t)
# 7번 반복

7

In [19]:
for i in t:
    print(i)

1
2
3
4
5
(5, 6, 7)
(8, 9, 10)

### 길이가 있는 자료를 슬라이싱해서 반복 위치나 횟수를 조절 가능

In [22]:
l1
print(len(l1))
print(len(l1[2:4]))

6
2

In [24]:
for i in l1[2:4]:
    print(i)

3
4

In [25]:
for i in l1[::2]:
    print(i)

1
3
[5, 6, 7]

In [26]:
for i in l1[::-1]:
    print(i)

[8, 9, 10]
[5, 6, 7]
4
3
2
1

# dict를 반복문에서 사용하기
* key의 개수만큼 반복
* keys(), values(), items()함수와 함께 사용하면 list처럼 쓸 수 있음

In [28]:
d=dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-2222")
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-2222'}

In [29]:
len(d)

4

### 딕셔너리의 key를 출력할 때는 for문에 넣으면 바로 출력
* 딕셔너리.keys()

In [30]:
for key in d:
    print(key)

이름
나이
주소
전화번호

In [38]:
#  values값 뽑는 방법 *중요*
for key in d:
    print(d[key])

홍길동
40
서울
010-1111-2222

### 딕셔너리의 value만 출력하고 싶을 때 .values()

In [39]:
# values()
for value in d.values():
    print(value)

홍길동
40
서울
010-1111-2222

In [46]:
# d.values()는 list가 아니기 때문에 슬라이싱하면 오류가 남
for value in d.values()[2:4]:
    print(value)

TypeError: 'dict_values' object is not subscriptable

In [47]:
for value in list(d.values())[2:4]:
    print(value)

서울
010-1111-2222

### key와 value를 같이 출력하고 싶을 때 .items()

In [43]:
# items()
d.items()

dict_items([('이름', '홍길동'), ('나이', 40), ('주소', '서울'), ('전화번호', '010-1111-2222')])

In [45]:
# *중요*
for key, value in d.items():
    print(key, value)

이름 홍길동
나이 40
주소 서울
전화번호 010-1111-2222

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요.
  * 1부터 10까지 숫자를 만들어서 반복문에 넣는다.
  * 1부터 10까지 누적 덧셈을 한다.
  * 누적 덧셈을 한 결과를 출력한다.

In [57]:
hap=0
for i in range(1,11):
    hap=hap+i
print(hap)

55

In [59]:
hap=0
for i in range(1,11):
    print(f"{hap}+{i}={hap+i}")
    hap=hap+i
print(hap)

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55
55

* 1부터 50까지 수 중에서 짝수인 수의 합을 구하시오.
  - 1-50 숫자 만들기 (range(1,51))
  - 홀수, 짝수 구분 if %2==0
  - 짝수일 때 누적 합, 결과 저장은 hap
  - 최종 결과 출력

In [60]:
hap=0
for num in range(1,51):
    if num % 2 ==0:
        hap=hap+num
print(hap)

650

* 1-100까지 수를 만들고 그 중에서 30-70까지만 더해서 출력하세요
* 과정 출력
* 2가지 방법을 이용해서 코드를 작성
  * if문 사용
  * 슬라이싱

In [61]:
# if문 사용하는 첫번째 방법
hap=0
for i in range(1,101):
    if 30<=i<=70:
        hap=hap+i
print(hap)

2050

In [68]:
# 슬라이싱 사용하는 두번째 방법
hap=0
for i in range(1,101)[29:70]:
        hap=hap+i
print(hap)

2050

* 100에서 1까지 더하는 반복문을 만드세요
* range에서 역순으로 숫자를 생성
* range(1,101) 역순으로 인덱싱
* 최종 결과만 출력

In [74]:
hap=0
for i in range(100,0,-1):
    hap=hap+i
print(hap)

5050

In [75]:
hap=0
for i in range(1,101)[::-1]:
    hap=hap+i
print(hap)

5050

* reversed() 반복문 안에서 list를 역순으로 뒤집는 함수

In [79]:
hap=0
for i in reversed(range(1,101)):
    print(i, end=' ')
    hap=hap+i
print(hap)

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 5050

## enumerate() 반복문에서 자료의 인덱스 번호를 만들어주는 함수

In [87]:
s="enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수 입니다."

In [88]:
import time
for idx, item in enumerate(s):
    print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    time.sleep(0.5)
#     print(idx, item)

In [89]:
d=dict(이름="홍길동",나이=30, 전화번호='010-1111-2222', 주소='서울')
d

{'이름': '홍길동', '나이': 30, '전화번호': '010-1111-2222', '주소': '서울'}

In [92]:
for idx, item in enumerate(d.items()):
    print(idx, item)

0 ('이름', '홍길동')
1 ('나이', 30)
2 ('전화번호', '010-1111-2222')
3 ('주소', '서울')

In [93]:
for value in enumerate(d.items()):
    print(value)

(0, ('이름', '홍길동'))
(1, ('나이', 30))
(2, ('전화번호', '010-1111-2222'))
(3, ('주소', '서울'))

In [94]:
for idx, (key,value) in enumerate(d.items()):
    print(idx, key, value)

0 이름 홍길동
1 나이 30
2 전화번호 010-1111-2222
3 주소 서울

### continue, break
* continue: 코드 실행을 건너뛰고 반복문 계속 실행
* break: 특정 조건이 되었을 때 반복문을 강제로 중단

In [95]:
s

'enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수 입니다.'

In [97]:
# s문자열에서 인덱스 번호가 4의 배수인 경우의 글자만 출력하세요

for idx, item in enumerate(s):
    if idx%4==0:
        print(idx,item)

0 e
4 e
8 e
12 는
16 문
20 i
24 x
28 들
32 력
36 는
40
44 .

In [101]:
# 인덱스가 짝수인 경우에는 건너뛰고 홀수인 경우에는 합쳐서 출력하세요
# 단, 인덱스 20번까지만 출력하고 멈추세요
for idx, item in enumerate(s):
    if idx%2==0:
        print("continue 앞에 있는 프린트문")
        continue
        print(idx)
        print("continue 뒤에 있는 프린트문")
    else:
        if idx<=20:
            print((idx, item))
        elif idx > 20:
            break

continue 앞에 있는 프린트문
(1, 'n')
continue 앞에 있는 프린트문
(3, 'm')
continue 앞에 있는 프린트문
(5, 'r')
continue 앞에 있는 프린트문
(7, 't')
continue 앞에 있는 프린트문
(9, ' ')
continue 앞에 있는 프린트문
(11, '수')
continue 앞에 있는 프린트문
(13, ' ')
continue 앞에 있는 프린트문
(15, '복')
continue 앞에 있는 프린트문
(17, '에')
continue 앞에 있는 프린트문
(19, ' ')
continue 앞에 있는 프린트문

* 1-100까지 숫자를 만들고 짝수는 건너뛰고 홀수는 합을 구하세요.
* 단 50까지만 계산하고 멈추세요.
* 홀수의 합을 출력하세요.

In [108]:
hap=0
for i in range(1,101):
    if i%2==0:
        continue
    else:
        if i<=50:
            hap=hap+i
        if i>50:
            break
print(hap)

625

# while문: 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복 되지 않도록 조건식을 잘 짜주는 것이 중요
```python
변수 선언 및 초기화
while 조건식: 
    반복할 코드
    변수 증가/감소 코드
    반복문이 종료되는 조건 + break
```

In [ ]:
# for문으로 1-10까지 출력하기
for num in range(1,11):
    print(num)

In [ ]:
num=1
while num<=10:
    print(num, end='')
    num+=1

In [ ]:
num=1
while True:
    print(num, end='')
    num+=1
    if num > 10:
        break

* 20에서 1까지 숫자를 더한 값을 출력

In [112]:
num = 20
hap=0
while True:
    hap+=num
    num-=1
    if num==0:
        break
print(hap)

210

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용
* 바늘 시계의 원리와 같음
* 안쪽의 반복문이 먼저 돌고 반복이 끝나면 바깥쪽 반복문이 실행
* 초침 -> 분침 -> 시침이 돌아가듯이

## 구구단 만들기 2중 중첩 반복문 
* 2단 - 9단
* 2 X 1 = 2
* 2 X 2
* 9 X 9 = 81

In [121]:
for num1 in range(2,10):
    print(f"\n{num1}단")
    for num2 in range(1,10):
        print(f"{num1}X{num2}={num1*num2}")

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

* 반복문 3개로 시계 만들기
* 초 00-59
* 분 00-59
* 시 00-23

In [128]:
import time
for si in range(0,24):
    for bun in range(0,60):
        for cho in range(0,60):
            time.sleep(0.1)
            print(f"{si:02d}시 {bun:02d}분 {cho:02d}초", end='\r')

KeyboardInterrupt:

# 중첩 반복문을 사용해서 다중 리스트를 출력하기

In [129]:
l1=[]

In [138]:
l1.append(list(range(1,21)))
l1

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [142]:
result=[]
for item1 in l1:
    #print(item1)
    for item2 in item1:
        #print(item2)
        result.append(item2)
print(result, end='')

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [144]:
# *중요* '리스트 + 리스트 = 리스트' 이용한거임
result=[]
for item1 in l1:
    result=result+item1
print(result, end='')

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [145]:
for item1 in l1:
    print(item1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]