In [1]:
#1.
print("Hello World")

Hello World

In [2]:
# 2
# 표현하고 싶은 문자열에 작은 따옴표가 있으므로 문자열을 큰따옴표로 만들어주면 됨
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 4
print("C:\Windows")

C:\Windows

In [6]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈, \t은 탭을 의미

In [7]:
# 6
print("오늘은", "일요일")

오늘은 일요일

In [9]:
# 7
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [10]:
# 8
print("naver","kakao","sk","samsung",sep='/')

naver/kakao/sk/samsung

In [14]:
# 9
print("first", end=' ');print("second") 
# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용

first second

In [15]:
# 10
print(5/3)

1.6666666666666667

In [18]:
# 11
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [23]:
# 12
# 바인딩: 이름 (name)을 어떤 객체 (object)에 연결하는 것
시가총액=2980000000000
현재가=50000
PER=15.79
print(시가총액, 현재가, PER)

2980000000000 50000 15.79

In [26]:
# 13
s = "hello"
t = "python"
print(s, end="")
print("!", end=" ")
print(t)

hello! python

In [27]:
# 13
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [28]:
# 14
print(2+2*3)

8

In [29]:
# 15
a="132"
print(a, type(a))

132 <class 'str'>

In [34]:
# 16
num_str = "720"
num_int=int(num_str)
type(num_int)

int

In [35]:
# 17
num=100
result=str(num)
print(result, type(result))

100 <class 'str'>

In [37]:
# 18
a="15.79"
b=float(a)
print(b, type(b))

15.79 <class 'float'>

In [38]:
# 19
year="2020"
result=int(year)
print(result, result+1, result+2)

2020 2021 2022

In [39]:
# 20
에어컨=48584
총금액=에어컨 * 36
print(총금액)

1749024

In [2]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [3]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [4]:
# 23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [6]:
# 24
string = "PYTHON"
string[::-1]

'NOHTYP'

In [7]:
# 25
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [8]:
# 26
phone_number.replace("-","")

'01011112222'

In [20]:
# 27
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split)

['http://sharebook', 'kr']

In [22]:
url_split[-1]

'kr'

In [23]:
# 28
# 오류남. WHY? 문자열은 할당 메서드를 지원하지 않음
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [24]:
# 29
string = 'abcdfe2a354a32a'
string.replace("a","A")

'Abcdfe2A354A32A'

In [25]:
# 30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [26]:
# 31
a = "3"
b = "4"
print(a + b)

34

In [27]:
# 32
print("Hi" * 3)

HiHiHi

In [28]:
# 33
print('-'*80)

--------------------------------------------------------------------------------

In [30]:
# 34
t1 = 'python'
t2 = 'java'
print((t1+' '+ t2+ ' ')*4)

python java python java python java python java

In [31]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:", name1, "나이:", age1)
print("이름:", name2, "나이:", age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [33]:
# 35 답안
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 36

In [ ]:
# 37

In [34]:
# 38
상장주식수 = "5,969,782,550"
상장주식수=상장주식수.replace(",","")
상장주식수=int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [38]:
# 39
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [36]:
# 40
data = "   삼성전자    "
data.strip()

'삼성전자'

In [39]:
# 41
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [40]:
# 42
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [46]:
# 43
a="hello"
a.capitalize()

'Hello'

In [47]:
# 44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [50]:
# 45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [51]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [52]:
# 47
a= "hello world"
a.split()

['hello', 'world']

In [53]:
# 48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [54]:
# 49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [58]:
# 50
data = "039490     "
data.rstrip()

'039490'

In [68]:
# 51
movie_rank=['닥터 스트레인지', '스플릿', '럭키']

In [69]:
# 52
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [70]:
# 53
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [71]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [72]:
# 55 
# 주의) 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 
# 남은 원소들에 대해서 순서를 새로 고려한 후 삭제
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [73]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [79]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [80]:
# 58
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [84]:
# 59 
# 특정 문자가 몇개 있는지 세는 함수는 count()
# 리스트에서 전체 데이터의 개수를 세는 함수는 len()
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", 
        "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [86]:
# 60
nums = [1, 2, 3, 4, 5]
avg_nums=sum(nums)/len(nums)
print(avg_nums)

3.0

In [87]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [88]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [89]:
# 63
nums= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [90]:
# 64
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [92]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [98]:
# 66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest=" ".join(interest)
print(interest)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [4]:
# 67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [6]:
# 68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [9]:
# 69
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [10]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

In [14]:
# 71
my_variable=()
print(type(my_variable))

<class 'tuple'>

In [15]:
# 72
movie_rank=('닥터 스트레인지', '스플릿', '럭키')

In [16]:
# 73
t=(1,)

In [2]:
# 74
t=(1,2,3)
t[0]='a'
# 튜플은 변경 불가능하기 때문에 오류가 남

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 75
t = 1, 2, 3, 4
# t가 바인딩하는 데이터 타입은 튜플임

In [3]:
# 76
t = ('a', 'b', 'c')
t=list(t)
t[0]='A'
t=tuple(t)
print(t)

('A', 'b', 'c')

In [4]:
# 77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [5]:
# 78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [6]:
# 79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [11]:
# 80 *중요* range(start,end,step)
data=tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
# 81 별 표현식?

In [12]:
# 84
temp={}

In [14]:
# 85
ice_cream=dict(메로나=1000, 폴라포=1200, 빵빠레=1800)
ice_cream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [16]:
# 86
ice_cream.update(죠스바=1200,월드콘=1500)
ice_cream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [20]:
ice_cream= {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print("메로나 가격:", ice_cream['메로나'])

메로나 가격: 1000

In [22]:
# 88
ice_cream = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
ice_cream.update(메로나=1300)
ice_cream

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [23]:
# 89
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [24]:
# 90
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# key에 '누가바'가 없기 때문에 에러 발생

KeyError: '누가바'

In [30]:
# 91
inventory=dict(메로나=[300,20], 비비빅=[400,3], 죠스바=[250,100])
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [35]:
# 92
print("%d원" % inventory['메로나'][0])

300원

In [36]:
# 93
print("%d개" % inventory['메로나'][1])

20개

In [38]:
# 94
inventory.update(월드콘=[500,7])
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [40]:
# 95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream_keys=list(icecream.keys())
print(icecream_keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [41]:
# 96
icecream_values=list(icecream.values())
print(icecream_values)

[1200, 1200, 1800, 1500, 1000]

In [42]:
# 97
sum=sum(icecream.values())
print(sum)

6700

In [53]:
# 98 * 중요 *
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream) # icecream을 업데이트한거니까 icecream을 print해야함

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [55]:
# 99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result=dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [56]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table=dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [ ]:
# 101
#  Bool타입:파이썬에서 True 혹은 False를 갖는 데이터 타입

In [ ]:
# 102
# False

In [ ]:
# 103
# True

In [ ]:
# 104
# True

In [ ]:
# 105
# True

In [ ]:
# 106
# >= 로 작성해야함

In [ ]:
# 107
# 아무 결과도 출력되지 않음

In [ ]:
# 108
# "Hi, there."

In [ ]:
# 109
# 1
# 2
# 4

In [ ]:
# 110 * 조건식의 결과가 True이면 무조건 실행, False면 실행 안됨
# 3
# 5

In [57]:
# 111
a=input("문자열을 입력하세요:")
print(a*2)

문자열을 입력하세요:안녕하세요
안녕하세요안녕하세요

In [59]:
# 112
a=int(input("숫자를 입력하세요:"))
print(a+10)

숫자를 입력하세요:30
40

In [60]:
# 113
a=int(input("숫자를 입력하세요:"))
if a%2==0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요:2
짝수

In [63]:
# 114
a=int(input("숫자를 입력하세요:"))
if a+20<=255:
    print(a+20)
if a+20>255:
    print(255)

숫자를 입력하세요:500
255

In [66]:
# 115
a=int(input("숫자를 입력하세요:"))
if 0<=a-20<=255:
    print(a-20)
elif a-20>255:
    print(255)
elif a-20<0:
    print(0)

숫자를 입력하세요:200
180

In [75]:
# 116
a=input("현재시간:")
if a[-1]=='0' and a[-2]=='0':
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:03:10
정각이 아닙니다.

In [79]:
# 117
fruit = ["사과", "포도", "홍시"]
user=input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?배
오답입니다.

In [81]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user=input("종목명:")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:sk
투자 경고 종목이 아닙니다.

In [86]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user=input("제가좋아하는계절은:")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:봄
정답입니다.

In [88]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user=input("제가좋아하는과일은:")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는과일은:토마토
정답입니다.

In [97]:
# 121 * 중요 * .islower()/ .upper()/ .lower()
user=input("")
if user.islower()==True:
    print(user.upper())
else:
    print(user.lower())

a
A

In [101]:
# 122
score=int(input("score: "))
if 81<=score<=100:
    print("grade is A")
elif 61<=score<=80:
    print("grade is B")
elif 41<=score<=60:
    print("grade is C")
elif 21<=score<=40:
    print("grade is D")
elif 0<=score<=20:
    print("grade is E")

score: 66
grade is B

In [122]:
# 123
user=input("입력:")
if user[-2:]=='달러':
    print(f"{float(user[:-3])*1167} 원")
elif user[-1:]=='엔':
    print(f"{float(user)[:-2]*1.096} 원")
elif user[-2:]=='유로':
    print(f"{float(user)[:-3]*1268} 원")
elif user[-2:]=='위안':
    print(f"{float(user)[:-3]*171} 원")

입력:100 달러
116700.0 원

In [123]:
# 123 답
# 공백을 기준으로 split 함수 작성하면 더 쉽게 코드 작성 가능
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [128]:
# 124
a=int(input("input number1:"))
b=int(input("input number2:"))
c=int(input("input number3:"))
print(max(a,b,c))

input number1:10
input number2:9
input number3:20
20

In [136]:
# 125
num=input("휴대전화 번호 입력: ")
a,b,c=num.split('-')
if a=='011':
    print("당신은 SKT 사용자입니다.")
elif a=='016':
    print("당신은 KT 사용자입니다.")
elif a=='019':
    print("당신은 LGU 사용자입니다.")
elif a=='010':
    print("당신의 통신사는 알 수 없습니다.")

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [7]:
# 126
user=input("우편번호:")
if user[2]== '0' or user[2]== '1' or user[2]== '2':
    print("강북구")
if user[2]== '3' or user[2]== '4' or user[2]== '5':
    print("도봉구")
if user[2]== '6' or user[2]== '7' or user[2]== '8' or user[2]=='9':
    print("노원구")

우편번호:01400
도봉구

In [ ]:
# 126 답안
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [12]:
# 127
personal_id=input("주민등록번호:")
personal_id=personal_id.split('-')[1] # 중요
p_id=personal_id[0]

if p_id in ['1', '3']:
    print("남자")
elif p_id in ['2', '4']:
    print("여자")

주민등록번호:821010-1635210
남자

In [13]:
# 128
personal_id=input("주민등록번호:")
personal_id=personal_id.split('-')[1] # 중요
p_id2=personal_id[1:3]

if p_id2 in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print("서울 입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:821010-1635210
서울이 아닙니다.

In [ ]:
# 129
personal_id=input("주민등록번호:")
personal_id1=personal_id.split('-')[0]
personal_id2=personal_id.split('-')[1]

personal_id1[0]*2 + personal_id1[1]*3 +