In [1]:
#1.
print("Hello World")

Hello World

In [2]:
# 2
# 표현하고 싶은 문자열에 작은 따옴표가 있으므로 문자열을 큰따옴표로 만들어주면 됨
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 4
print("C:\Windows")

C:\Windows

In [6]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈, \t은 탭을 의미

In [7]:
# 6
print("오늘은", "일요일")

오늘은 일요일

In [9]:
# 7
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [10]:
# 8
print("naver","kakao","sk","samsung",sep='/')

naver/kakao/sk/samsung

In [14]:
# 9
print("first", end=' ');print("second") 
# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용

first second

In [15]:
# 10
print(5/3)

1.6666666666666667

In [18]:
# 11
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [23]:
# 12
# 바인딩: 이름 (name)을 어떤 객체 (object)에 연결하는 것
시가총액=2980000000000
현재가=50000
PER=15.79
print(시가총액, 현재가, PER)

2980000000000 50000 15.79

In [26]:
# 13
s = "hello"
t = "python"
print(s, end="")
print("!", end=" ")
print(t)

hello! python

In [27]:
# 13
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [28]:
# 14
print(2+2*3)

8

In [29]:
# 15
a="132"
print(a, type(a))

132 <class 'str'>

In [34]:
# 16
num_str = "720"
num_int=int(num_str)
type(num_int)

int

In [35]:
# 17
num=100
result=str(num)
print(result, type(result))

100 <class 'str'>

In [37]:
# 18
a="15.79"
b=float(a)
print(b, type(b))

15.79 <class 'float'>

In [38]:
# 19
year="2020"
result=int(year)
print(result, result+1, result+2)

2020 2021 2022

In [39]:
# 20
에어컨=48584
총금액=에어컨 * 36
print(총금액)

1749024