4.문제: print()를 사용하여 10, 20, 30을 한 줄에 공백 없이 출력하세요.

In [1]:
print(10,20,30,sep="")

102030

6.문제: 두 개의 print() 문을 사용하되, 한 줄에 출력하세요.

In [4]:
print("Hello", end=" ")
print("Python")

Hello Python

8.문제: print()를 사용하여 50 - 15의 결과를 출력하세요.

결과 값: 50 - 15:35

In [9]:
print('50 - 15:',50-15, sep="")

50 - 15:35

11. 문제: print()를 사용하여 20 을 3으로 나눈 몫을 출력하세요.

In [10]:
print(20//3)

6

12.문제: print()를 사용하여 20을 3으로 나눈 나머지를 출력하세요.

In [11]:
print(20%3)

2

13.문제: print()를 사용하여 2의 5제곱 결과를 출력하세요.

In [12]:
print(2**5)

32

19.문제: print()를 사용하여 100을 3으로 나눈 결과를 정수형으로 출력하세요.

In [13]:
print(int(100/3))

33

21.문제: print()를 사용하여 1부터 10까지의 합을 출력하세요.

In [18]:
hap=0
for i in range(1,11):
    hap=hap+i

print(hap)

55

24.문제: print()를 사용하여 숫자 10을 문자열과 함께 출력하세요.  
결과 값:The number is 10

In [19]:
print("The number is", 10)

The number is 10

In [21]:
a=10
b=3.14
c="Python"
d=True

32.문제: 문자열 "Python"에서 첫 번째 문자를 출력하세요.

In [22]:
"Python"[0]

'P'

34.문제: 문자열 "Python Programming"에서 "Programming"만 출력하세요.

In [23]:
"Python Programming"[7:19]

'Programming'

In [28]:
numbers=[1,2,3,4,5]

40.문제: 리스트 numbers에 숫자 6을 추가하고 출력하세요.

In [29]:
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [30]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
nested_tutple = ((1,2), (3,4,5), (6,7,8,9))

In [32]:
person = {"name": "Alice", "info": {"age": 25, "city": "Seoul"}}

47.문제: person 딕셔너리에서 "age" 값을 출력하세요.

In [33]:
person["info"]["age"]

25

In [54]:
data = {'info' : [{'name': 'Alice', 'scores' : (95, 88, 92)},
                  {'name': 'Bob', 'scores' : (78, 85, 89)}],
        'extra': {'hobbies' : ['leading', 'coding'],
                  'location' : ('Seoul', 'Busan')}}

49.문제: data에서 "Alice"의 첫 번째 점수를 출력하세요.

In [38]:
data['info'][0]['scores'][0]

95

54.문제: data에서 "Bob"의 평균 점수를 출력하세요. ???

In [43]:
Bob_scores=data['info'][1]['scores']
print(Bob_scores)

(78, 85, 89)

55.문제: data에 새로운 키 "school": "XYZ High"를 추가하고 출력하세요.

In [55]:
data['school']='XYZ High'
print(data)

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], 'extra': {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}, 'school': 'XYZ High'}

56.문제: data["extra"]["hobbies"]에 "gaming"을 추가하고 출력하세요.

In [56]:
data['extra']['hobbies'].append('gaming')
print(data)

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], 'extra': {'hobbies': ['leading', 'coding', 'gaming'], 'location': ('Seoul', 'Busan')}, 'school': 'XYZ High'}

57.문제: data에서 "Alice"의 두 번째 점수를 "90"으로 변경하고 출력하세요.

In [57]:
data['info'][0]['scores']=(95, 90, 92)

In [58]:
print(data)

{'info': [{'name': 'Alice', 'scores': (95, 90, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], 'extra': {'hobbies': ['leading', 'coding', 'gaming'], 'location': ('Seoul', 'Busan')}, 'school': 'XYZ High'}

In [59]:
data['info'][1]['scores'][0]

78