In [1]:
# 1
subject = "국어"
print("이 수업의 이름은 %s 입니다." % subject)

이 수업의 이름은 국어 입니다.

In [14]:
# 2 *중요*
subjects = ["국어","수학","사회","영어"]
for i in subjects:
    print("이 수업의 이름은 %s 입니다." % i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

In [15]:
# 3
year = 2025
print("올해는 %d년 입니다." % year)

올해는 2025년 입니다.

In [16]:
# 4
temp = 36.5
print("사람의 정상 체온은 약 %f도 입니다." % temp)

사람의 정상 체온은 약 36.500000도 입니다.

In [17]:
# 5
print("사람의 정상 체온은 약 %.1f도 입니다." % temp)

사람의 정상 체온은 약 36.5도 입니다.

In [18]:
# 6
print("%3s" %"01")

 01

In [20]:
# 7
print("가격은 %10d 입니다." % 150000)
print("가격은 %10d 입니다." % 15000)

가격은     150000 입니다.
가격은      15000 입니다.

In [30]:
# 8
y,m,d=(2025, 3, 17)
print("오늘은 %4d년 %2d월 %2d일 입니다." % (y,m,d)) 
# 앞쪽에 %가 있는 곳에 변수를 집어넣어라 SO 뒤에 %는 하나밖에 못 옴

오늘은 2025년  3월 17일 입니다.

In [36]:
# 9 *중요*
company = ["삼성전자","LG전자","현대차","대한항공","하나투어"]
stock = [71800,121000,195000,31900,86600]

for c,s in zip(company, stock):
    print("%s의 주가는 %d 입니다." % (c,s))

삼성전자의 주가는 71800 입니다.
LG전자의 주가는 121000 입니다.
현대차의 주가는 195000 입니다.
대한항공의 주가는 31900 입니다.
하나투어의 주가는 86600 입니다.

In [38]:
# 10
print("{}의 주가는 {} 입니다.".format("삼성전자", 71800))

삼성전자의 주가는 71800 입니다.

In [39]:
# 11
print("{0}의 주가는 {1} 입니다.".format("삼성전자", 71800))

삼성전자의 주가는 71800 입니다.

In [40]:
# 12
print("{1}의 주가는 {0} 입니다.".format("삼성전자", 71800))

71800의 주가는 삼성전자 입니다.

In [42]:
# 13
print("""{0}의 주가는{1}원입니다
{0}의 상한가는 {3}
{0}의 하한가는 {2}입니다.""".format("삼성전자", 71500, 50200, 93000))

삼성전자의 주가는71500원입니다
삼성전자의 상한가는 93000
삼성전자의 하한가는 50200입니다.

In [43]:
#14
for c,s in zip(company, stock):
    print("{0}의 주가는 {1}원입니다".format(c,s))

삼성전자의 주가는 71800원입니다
LG전자의 주가는 121000원입니다
현대차의 주가는 195000원입니다
대한항공의 주가는 31900원입니다
하나투어의 주가는 86600원입니다

In [1]:
# 15
company = ["삼성전자","LG전자","현대차","대한항공","하나투어"]
stock = [71800,121000,195000,31900,86600]
print(f"{company[0]}의 주가는 {stock[0]}입니다.")

삼성전자의 주가는 71800입니다.

In [2]:
# 16
sam = "삼성전자"
sto = 71800
print(f"{sam}의 주가는 {sto}입니다.")

삼성전자의 주가는 71800입니다.

In [3]:
# 17
for c,s in zip(company, stock):
    print(f"{c}의 주가는 {s}입니다.")

삼성전자의 주가는 71800입니다.
LG전자의 주가는 121000입니다.
현대차의 주가는 195000입니다.
대한항공의 주가는 31900입니다.
하나투어의 주가는 86600입니다.

In [12]:
# 18
"{0:<10}".format("삼성전자")

'삼성전자      '

In [13]:
# 19
"{0:>10}".format("삼성전자")

'      삼성전자'

In [18]:
# 20
print("%10s" % "삼성전자")

      삼성전자

In [46]:
# 21
print(f"{'삼성전자':<10s}")

삼성전자

In [45]:
# 22
print(f"{'삼성전자':>10s}")

      삼성전자

In [29]:
# 23
month = 1
print("{0:02d}월".format(month))

01월

In [36]:
# 24
si,bum=7,5
print(f"{si:02d}시 {bum:02d}분")

07시 05분

In [37]:
# 25
print("%04d" %1)

0001

In [42]:
# 26 *못 푼 문제
print(f'{"달러":*>4s}')
print("{0:*>4}".format("달러"))

**달러

In [54]:
# 27
print(f'{"달러":$<10s}')

달러$$$$$$$$

In [57]:
# 28 * 중요
url = "https://finance.naver.com/sise/sise_trans_style.naver?sosok="
for i in range(1,11):
    print(f"{url}{i:02d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10